*,
html {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    width: 100%;
}
.radioButton {
    position: absolute;
}
.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: crimson;
    width: 100vw;
    height: 100vh;
  
}
.slider__wrapper {
    margin-top: 1%;
    width: 80%;
    height: 80%;
 
}
.slider__canvas {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 2%;
}
.canvas_content {
    position: relative;
    height: 100%;
    width: calc(100%*5);
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    transition: 500ms;

}

.slide {
    width: 20%;
    height: 100%;
    transition: all .4s ease-out;
  
}

.slide__image {
    width: 100%;
    height: 100%;
   
    object-fit: cover;
    object-position: 0;
}
input[name="radioButton"]{
    visibility: hidden;
    position: absolute;
}
.phrases{
    display: flex;
   
}
.phrase{
 padding-right: 1rem;
}
#radio1:checked ~ .slider__wrapper .slider__canvas .canvas_content  .mainSlide{
    margin-left: 0%;
}
#radio2:checked ~ .slider__wrapper .slider__canvas .canvas_content .mainSlide{
    margin-left: -20%;
}
#radio3:checked ~ .slider__wrapper .slider__canvas .canvas_content  .mainSlide{
    margin-left: -40%;
}
#radio4:checked ~ .slider__wrapper .slider__canvas .canvas_content .mainSlide{
    margin-left: -60%;
}
#radio5:checked ~ .slider__wrapper .slider__canvas .canvas_content .mainSlide{
    margin-left: -80%;
}


.chunk{
    background-color: chartreuse;
}